<div
  class="w-full bg-white rounded-t-3xl shadow-2xl border-t border-gray-200 pt-4 overflow-hidden text-sm text-gray-800 h-full"
>
  <!-- Header -->
  <div class="px-4 flex justify-between items-start mb-2">
    <div>
      <div class="text-lg font-semibold text-gray-900">
        {{ flight()?.registration }} ({{ flight()?.displayName }})
      </div>
      <div class="text-xs text-gray-500">
        <span class="font-medium">Flarm ID: {{ flight()?.flarmId }}</span>
        @if (!historicFlightTarget()) {
          <span> · zuletzt {{ timeAgo() }}</span>
        }
      </div>
    </div>
    <div class="flex items-center gap-3">
      <div class="relative">
        <button
          (click)="copyFlightLink()"
          class="bg-gray-100 rounded-full w-8 h-8 flex items-center justify-center active:bg-gray-300 transition"
          title="Link kopieren"
        >
          <span class="material-symbols-outlined text-gray-800 text-base">link</span>
        </button>

        @if (copied()) {
          <div
            class="absolute -bottom-8 left-1/2 -translate-x-1/2 bg-white text-gray-900 text-xs px-2 py-1 rounded shadow whitespace-nowrap min-w-[80px] text-center"
          >
            Link kopiert
          </div>
        }
      </div>
      <button
        (click)="close.emit()"
        class="bg-gray-100 rounded-full w-8 h-8 flex items-center justify-center active:bg-gray-200"
        title="Link kopieren"
      >
        <span class="material-symbols-outlined text-gray-800 text-base">close</span>
      </button>
    </div>
  </div>

  <swiper-container slides-per-view="1" pagination="true" class="custom-swiper">
    @if (!historicFlightTarget()) {
      <swiper-slide class="px-4 pb-14">
        <app-flight-info-sheet [flight]="flight()" (close)="close.emit()" />
      </swiper-slide>
    }
    <swiper-slide class="-mt-4 pr-3" [class.pb-2]="historicFlightTarget()">
      <app-barogram />
    </swiper-slide>
  </swiper-container>
</div>
