<div id="map" class="map w-full h-full touch-manipulation"></div>

<!-- Search Icon Button -->
<div class="fixed top-4 left-4 z-30">
  <a
    [routerLink]="['/search']"
    class="p-3 bg-white rounded-full shadow-md hover:bg-gray-100 transition flex items-center justify-center"
  >
    <span class="material-symbols-outlined text-gray-700 text-[24px] leading-none">search</span>
  </a>
</div>


@if (selectedFlight()) {
    <app-flight-info-sheet 
        class="absolute bottom-20 left-0 right-0"
        [flight]="selectedFlight()"
        (close)="unselectGlider()"/>
}