<div *ngIf="flight() as aircraft">
  <!-- Typ und Modell -->
  <div class="mb-3 text-gray-700">
    <div class="font-medium">
      {{ getAircraftTypeLabel(aircraft.aircraftType) }}
      <span class="text-gray-500 font-normal">· {{ aircraft.model }}</span>
    </div>
  </div>

  <div class="grid grid-cols-4 text-center gap-y-2">
    <!-- Geschwindigkeit -->
    <div class="flex flex-col items-center">
      <span class="material-symbols-outlined text-gray-700 text-lg">speed</span>
      <span class="font-medium text-sm">{{ aircraft.speed }} km/h</span>
      <span class="text-xs text-gray-500">Geschwindigkeit</span>
    </div>

    <!-- Höhe -->
    <div class="flex flex-col items-center">
      <span class="material-symbols-outlined text-gray-700 text-lg">altitude</span>
      <span class="font-medium text-sm">{{ aircraft.heightMSL }} m</span>
      <span class="text-xs text-gray-500">Höhe (MSL)</span>
    </div>

    <!-- Vario -->
    <div class="flex flex-col items-center">
      <span class="material-symbols-outlined text-gray-700 text-xl">{{ varioIcon() }}</span>
      <span
        class="font-medium text-sm"
        [ngClass]="{ 'text-green-600': aircraft.vario > 0, 'text-red-600': aircraft.vario < 0 }"
      >
        {{ aircraft.vario > 0 ? '+' : '' }}{{ aircraft.vario }} m/s
      </span>
      <span class="text-xs text-gray-500">Vario</span>
    </div>

    <!-- Vario 60s -->
    <div class="flex flex-col items-center">
      <span class="material-symbols-outlined text-gray-700 text-xl">{{ varioAverageIcon() }}</span>
      <span
        class="font-medium text-sm"
        [ngClass]="{
          'text-green-600': aircraft.varioAverage > 0,
          'text-red-600': aircraft.varioAverage < 0,
        }"
      >
        {{ aircraft.varioAverage > 0 ? '+' : '' }}{{ aircraft.varioAverage }} m/s
      </span>
      <span class="text-xs text-gray-500">Vario (60s Ø)</span>
    </div>
  </div>
</div>
